.content {
  margin: 0 auto;
  width: 84%;
  max-width: 580px;
  min-height: 90vh;
  text-align: justify;
}

.content h1 {
  margin: 10% 0;
}

.content img {
  width: 100%;
  border-radius: 5px;
}

.content article {
  padding-top: 6%;
  padding-bottom: 10%;
}

.content article h2 {
  text-align: left;
  margin-top: 10%;
}

.content article a {
  text-decoration: underline;
}

.content button {
  display: block;
  width: 20%;
  margin: 20% auto;

}

.content button:hover {
  border: 1px solid {{ .Scratch.Get "pink" }};
}
