.home header {
  position: absolute;
  z-index: 1;
  width: 100%;
  background: none;
}

.home section:nth-of-type(odd) {
  background-color: {{ .Scratch.Get "black" }};
  color: {{ .Scratch.Get "white" }};
}
.home section:nth-of-type(odd) a {
  color: {{ .Scratch.Get "white" }};
}

.intro {
  background: url('{{ "images/intro.jpg" | relURL }}') no-repeat center center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
  height: 100vh;
  color: {{ .Scratch.Get "white" }};
  text-align: center;
}

.intro .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}

.intro h1 {
  font-size: 18vw;
  margin: 1% 0;
  color: {{ .Scratch.Get "pink" }};
}

.intro h2 {
  {{ .Scratch.Get "fontSecond" }}
  font-size: 130%;
  margin-top: 3vw;
  margin-bottom: 15vw;
}

@media screen and (min-width: 720px) {
  .intro h1 {
    font-size: 16vw;
  }
  .intro h2 {
    font-size: 170%;
    margin-top: 1vw;
    margin-bottom: 6vw;
  }
}



.intro .logo {
  width: 12vw;
  min-width: 26%;
  height: 14vh;
}



.bullets ul {
  padding: 0 10%;
}

.bullets li {
  max-width: 252px;
  margin: 20% auto;
  text-align: center;
  font-size: 120%;
}
@media screen and (min-width: 680px) {
  .bullets li {
    margin: 10% auto;
  }
}
@media screen and (min-width: 960px) {
  .bullets li {
    max-width: 356px;
  }
}

.bullets p {
  margin-top: 10%;
}



.fromcollection {
  padding-bottom: 8%;
}
.fromcollection h3 {
  padding-bottom: 4%;
}

@media screen and (min-width: 860px) {
  .fromcollection {
    padding-bottom: 6%;
  }

  .fromcollection ul {
    padding: 0 16vw;
    display: flex;
    flex-wrap: wrap;
  }
}

.fromcollection li {
  text-align: center;
  margin: 8% auto;
}



.blogref article {
  text-align: center;
}

@media screen and (min-width: 720px) {
  .blogref article {
    width: 50%;
    float: left;
  }
}
@media screen and (min-width: 1280px) {
  .blogref article {
    width: 33.33333%;
  }
}

.blogref article a {
  background: no-repeat center center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   height: 300px;
   width: 100%;
   position: relative;
   display: block;
}
.blogref article a:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: black;
  opacity: .7;
  transition: .4s opacity ease-out;
}
.blogref article a:hover:before {
  opacity: .3;
}
.blogref:after {
  content: '';
  display: block;
  clear: both;
}

.blogref h4 {
  font-size: 150%;
  color: {{ .Scratch.Get "white" }};
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  margin: 0;
}
