.intro {
  background-color: {{ .Scratch.Get "black" }};
  background: url('{{ "images/home/intro.jpg" | relURL }}') no-repeat center center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
  height: 100vh;
  color: {{ .Scratch.Get "white" }};
  text-align: center;
}

.intro .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}

.intro h1 {
  font-size: 16vw;
  margin: 1% 0;
  color: {{ .Scratch.Get "pink" }};
  {{ .Scratch.Get "fontLogo" }}
}

.intro h2 {
  {{ .Scratch.Get "fontSecond" }}
  font-size: 130%;
  margin-top: 3vw;
  margin-bottom: 15vw;
}
@media screen and (min-width: 720px) {
  .intro h2 {
    font-size: 170%;
    margin-top: 1vw;
    margin-bottom: 6vw;
  }
}



.logo {
  fill: {{ .Scratch.Get "pink" }};
  width: 12vw;
  min-width: 16%;
  height: 14vh;
}



button {
  background: {{ .Scratch.Get "pink" }};
  color: {{ .Scratch.Get "white" }};
  border: none;
  border-radius: 6px;
  font-size: 160%;
  padding: .4em .7em;
  {{ .Scratch.Get "fontLogo" }}
  cursor: pointer;
}
button:hover {
  color: {{ .Scratch.Get "pink" }};
  background: {{ .Scratch.Get "white" }};
}



.bullets ul {
  padding: 0 6%;
}

.bullets div {
  background: {{ .Scratch.Get "pink" }};
  width: 160px;
  height: 160px;
  margin: 8% auto 0 auto;
}

.bullets li {
  box-sizing: border-box;
}
.bullets li:nth-child(2n+1):last-child {
  width: 100%;
}

.bullets p {
  padding: 4% 0;
  width: 260px;
  margin: 0 auto 8% auto;
  text-align: center;
}


@media screen and (min-width: 860px) {
  .bullets ul {
    display: flex;
    flex-wrap: wrap;
  }

  .bullets li {
    width: 50%;
  }

  .bullets p {
  }
}



.fromcollection {
  background: {{ .Scratch.Get "black" }};
  color: {{ .Scratch.Get "white" }};
  padding-bottom: 8%;
}

.fromcollection h3 {
  padding-top: 6%;
  padding-bottom: 1%;
}

@media screen and (min-width: 860px) {
  .fromcollection ul {
    padding: 0 16vw;
    display: flex;
    flex-wrap: wrap;
  }
}

.fromcollection li {
  text-align: center;
  margin: 2% auto;
  padding: 2vw;
}



.blogref article {
  text-align: center;
}

@media screen and (min-width: 720px) {
  .blogref article {
    width: 50%;
    float: left;
  }
}
@media screen and (min-width: 1280px) {
  .blogref article {
    width: 33.33333%;
  }
}

.blogref article a {
  background: no-repeat center center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   height: 300px;
   width: 100%;
   position: relative;
   display: block;
}
.blogref article a:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: black;
  opacity: .7;
  transition: .4s opacity ease-out;
}
.blogref article a:hover:before {
  opacity: .3;
}
.blogref:after {
  content: '';
  display: block;
  clear: both;
}

.blogref h4 {
  font-size: 150%;
  color: {{ .Scratch.Get "white" }};
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  margin: 0;
}
