{{ partial "top" . }}


<section class="content">
  <div class="list">
    {{ range .Data.Pages }}
      <div class="item">
        <a href="{{ .Permalink }}">
          <div class="header-image" style="background-image: url('{{ .Site.BaseURL }}/images/headers/{{ .File.TranslationBaseName }}.small.jpg');"></div>
          <div class="text">
            <h2>{{ .Title }}</h2>
            <p>{{ .Summary }}</p>
          </div>
        </a>
      </div>
    {{ end }}
  </div>
</section>


{{ partial "bottom" . }}

