{{ partial "top" . }}


<section class="content">
  <div class="list">
    {{ range .Data.Pages.ByDate }}
      <div class="item">
        <a href="{{ .Permalink }}">
          <div class="header-image" style="background-image: url('{{ with .Params.image }}{{ printf "images/%s" . | relURL }}{{ else }}{{ printf "images/headers/%s.small.jpg" .File.TranslationBaseName | relURL }}{{ end }}');"></div>
          <div class="text">
            <h2>{{ .Title }}</h2>
            <p>{{ .Summary }}</p>
            <div class="hider"></div>
          </div>
        </a>
      </div>
    {{ end }}
  </div>
</section>


{{ partial "bottom" . }}

