{{ partial "top" . }}

<section class="content">

  {{ if .Section }}
    <a href="{{ .Permalink }}">
      <h1>{{ .Title }}</h1>
    </a>
  {{ end }}

  {{ with .Params.image }}
    <img src="{{ printf "images/%s" . | relURL }}" alt="post header image" class="header-image">
  {{ else }}
    {{ if .Section }}
      <img src="{{ printf "images/headers/%s.jpg" .File.TranslationBaseName | relURL }}" alt="post header image" class="header-image">
    {{ end }}
  {{ end }}

  <article>{{ .Content }}</article>

  {{ if .Section }}
    <a href="{{ .Section | relLangURL }}">
      <button>{{ i18n "readmore" }}</button>
    </a>
  {{ end }}

  {{ partial "unsplash" . }}
</section>

{{ partial "bottom" . }}
