{{ partial "top" . }}

<section class="content">
  {{ if .Section }}
    <a href="{{ .Permalink }}">
      <h1>{{ .Title }}</h1>
    </a>

    <img src="{{ with .Params.image }}{{ printf "images/%s" . | relURL }}{{ else }}{{ printf "images/headers/%s.small.jpg" .File.TranslationBaseName | relURL }}{{ end }}" alt="post header image" class="header-image">
  {{ end }}

  <article>{{ .Content }}</article>

  {{ if .Section }}
    <a href="{{ .Section | relLangURL }}">
      <button>{{ i18n "readmore" }}</button>
    </a>
  {{ end }}

  {{ partial "unsplash" . }}
</section>

{{ partial "bottom" . }}
