{{ .Scratch.Add "pink" "#ff207e" }}
{{ .Scratch.Add "black" "#121212" }}
{{ .Scratch.Add "white" "#f3f3f3" }}
{{ .Scratch.Add "fontLogo" "font-family: 'Contrail One';" }}
{{ .Scratch.Add "fontSecond" "font-family: 'Rubik';" }}
{{ .Scratch.Add "fontText" "font-family: 'Nunito';" }}

{{ partial "styles/intro.css" . }}

html, body {
  margin: 0;
  padding: 0;
  {{ .Scratch.Get "fontText" }}
  background-color: {{ .Scratch.Get "white" }};
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  padding: 0;
}

h3 {
  text-align: center;
  font-size: 220%;
  padding: 3%;
}

header {
  position: fixed;
  z-index: 1;
  width: 100%;
}

.translations {
  text-align: right;
}

.translations a {
  display: inline-block;
  padding: 2% 3% 2.5% 3%;
  text-transform: uppercase;
  color: {{ .Scratch.Get "white" }};
  font-weight: 500;
}

footer {
  background-color: {{ .Scratch.Get "black" }};
  padding-top: 12%;
  padding-bottom: 1%;
  text-align: center;
  color: {{ .Scratch.Get "white" }};
}

footer a {
  color: {{ .Scratch.Get "white" }};
  padding: 1% 1%;
}

footer svg {
  vertical-align: middle;
}

.copy {
  padding-top: 2%;
  font-size: 80%;
  opacity: .8;
}
