{{ partial "top" . }}


<section class="intro">
  <div class="inner">
    <img src="{{ "images/logo.svg" | relURL }}" class="logo" alt="Logo">
    <h1>{{ .Site.Title }}</h1>
    <h2>{{ .Params.Slogan }}</h2>
    <a href="{{ .Site.Params.boturl }}">
      <button class="getstarted">{{ .Params.Getstarted }}</button>
    </a>
</section>


<section class="bullets">
  <ul>
    {{ range first 3 .Params.Bullets }}
      <li>
        <img src="{{ printf "images/icons/%s.svg" .Icon | relURL }}" alt="{{ .Icon }}">
        <p>{{ .Text }}</p>
      </li>
    {{ end }}
  </ul>
</section>


<section class="fromcollection">
  <h3>{{ .Params.Fromcollection }}</h3>
  <ul>
    {{ range .Params.Collections }}
      <li>
        <a href="{{ $.Site.Params.boturl }}?ref=https%3A%2F%2Fslangbrain.com%2Fcollections%2F{{ . }}.csv">
          <button>{{ .}} {{ lower . | index $.Site.Params.langicons }}</button>
        </a>
      </li>
    {{ end }}
  </ul>
</section>


<section class="bullets">
  <ul>
    {{ range last 3 .Params.Bullets }}
      <li>
        <img src="{{ printf "images/icons/%s.svg" .Icon | relURL }}" alt="{{ .Icon }}">
        <p>{{ .Text }}</p>
      </li>
    {{ end }}
  </ul>
</section>


<section class="blogref">
  <a href="{{ "blog/" | relLangURL }}">
    <h3>{{ .Params.Moreblog }}</h3>
  </a>
  <div class="list">
    {{ range first 6 (where .Data.Pages "Section" "blog").ByDate }}
    <article>
      <a
        href="{{ .Permalink }}"
        style="background-image: url('{{ .Site.BaseURL }}/images/headers/{{ .File.TranslationBaseName }}.small.jpg');"
      >
        <h4>{{ .Title }}</h4>
      </a>
    </article>
    {{ end }}
  <div>
</section>


{{ partial "bottom" . }}
